.map-prefecture {
    fill: #d3d3d3;
    stroke: #959595;
    stroke-width: 1px;
}

.map-prefecture:focus {
    fill: #9ED6AD;
    stroke: green;
    stroke-width: 1px;
    outline: none;
}

* {
   margin: 0;
   padding: 0;
}




