.navbar {
    display: inline-flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
}

.logout-button {
    font-size: 100%;
    padding: 5px 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 100vh;
    text-align: center;
    width: 60%;
    min-width: 200px;
    height: 35px;
}

.home-button {
    font-size: 100%;
    padding: 5px 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 100vh;
    width: 60%;
    min-width: 200px;
    height: 35px;
}

.my-memories-button {
    font-size: 100%;
    padding: 5px 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 100vh;
    width: 60%;
    min-width: 200px;
    height: 35px;
}

.language-button-container {
    display: inline;
    margin-bottom: 0;
}

.language-button {
    font-size: 100%;
    padding: auto;
    margin-top: 30px;
    height: 35px;
}

.logout-button:hover:hover,
.home-button:hover,
.my-memories-button:hover:hover {
    background-color: lightgoldenrodyellow;
}